<!-- MAIN HTML -->
<div ng-controller="MeanController" id="container1">




<div id='main-container'>
	<nav>
		<img src="images/self_logo.png" width='40' height='50' class='self-logo'>

		<div class='links-to-social'>
			<a href="mailto:chentiki808@gmail.com" class="hvr-grow"><img src="images/contact_icons-01_mail.png" width='35' height='35'></a>
			<a href="https://github.com/chen808" target="_blank" class="hvr-grow"><img src="images/contact_icons-02_github.png" width='35' height='35'></a>
			<a href="https://www.linkedin.com/in/davidc808" target="_blank" class="hvr-grow"><img src="images/contact_icons-03_linkedin.png" width='35' height='35'></a>
		</div>
	</nav>


	<div class='title-area'>
		<span><h1>Hi, I'm David</h1></span>
		<div class='title-sayings'>
			<h4>A Front-End Web Developer</h4>
			<h4>A Illustrator</h4>
			<h4>A Designer</h4>
			<h4>Lover of all things Green Tea!</h4>
		</div>
	</div>
</div>






<div id='skills-container'>
	<h3>Check out the skills I acquired during my time at a coding bootcamp . . .</h3>

	<div id='code-lang-container-top'>
		<img src="images/language_icons_javascript.png" width='70' heigth='70'>
		<img src="images/language_icons_jquery.png" width='70' heigth='70'>
		<img src="images/language_icons_html5.png" width='70' heigth='70'>
		<img src="images/language_icons_css.png" width='70' heigth='70'>
		<img src="images/language_icons_sass.png" width='70' heigth='70'>
		<img src="images/language_icons_ruby.png" width='70' heigth='70'>
		<img src="images/language_icons_rails.png" width='70' heigth='70'>
	</div>

	<div id='code-lang-container-bottom'>
		<img src="images/language_icons_angular.png" width='70' heigth='70'>
		<img src="images/language_icons_node.png" width='70' heigth='70'>
		<img src="images/language_icons_express.png" width='70' heigth='70'>
		<img src="images/language_icons_mongodb.png" width='70' heigth='70'>
		<img src="images/language_icons_github.png" width='70' heigth='70'>
		<img src="images/language_icons_mysql.png" width='70' heigth='70'>
		<img src="images/language_icons_python.png" width='70' heigth='70'>
	</div>

	<h3>. . . to go along with my background in art!</h3>

	<div id='code-lang-container-bottom'>
		<img src="images/language_icons_illustrator.png" width='70' heigth='70'>
		<img src="images/language_icons_photoshop.png" width='70' heigth='70'>
		<img src="images/language_icons_drawing.png" width='70' heigth='70'>
	</div>

	<h3>Psst! Check out my <a href="https://www.instagram.com/renzochigga/" target="_blank" class="hvr-grow">Instagram</a> for art stuff!</h3>
</div>







<div id='project-container'>

	<h1>Projects</h1>

	<div id="project_row_one">
		<div class='project1'>
			<h3>"HashFighters"</h3>
			<h4>Battles are dictated by Twitter hashtags. The first to 100 points wins the battle. The community offers color commentaries through incoming tweets.</h4>
			<h3><a ng-click='hashfighter()'>See Case Study</a></h3>
		</div>

		<div class='project2'>
			<h3>"NoWorries"</h3>
			<h4>User is encouraged to write clear recipe-like instructions that attempts to solve a particular code issue.</h4>
			<h3><a href="#">See Case Study</a></h3>
		</div>

		<div class='project3'>
			<h3>"Coding Nom Nom"</h3>
			<h4>User sets a event, completion time, and a emergency contact. If user does not check in before time is up, a text and email will be sent to the contact.</h4>
			<h3><a href="#">See Case Study</a></h3>
		</div>
	</div>

</div> <!-- end project-container -->




<div id='last-call-container' align='center'>

		<h1 align='center' class='aloha_font'>Contact</h1>

		<a href="mailto:chentiki808@gmail.com" class="hvr-grow"><img src="images/contact_icons-01_mail.png" width='30' height='30'>Shoot me an email</a>

		<a href="https://drive.google.com/open?id=0BzDKm18UEO0aU3F6cUxCOExkNlk" target="_blank" class="hvr-grow"><img src="images/contact_icons-01_mail.png" width='30' height='30'>View my resume</a>

		<a href="https://www.linkedin.com/in/davidc808" target="_blank" class="hvr-grow"><img src="images/contact_icons-03_linkedin.png" width='30' height='30'>Connect with me on LinkedIn</a>

		<a href="https://github.com/chen808" target="_blank" class="hvr-grow"><img src="images/contact_icons-02_github.png" width='30' height='30'>Check out my GitHub</a>

		<h1 align='center' class='aloha_font much_mahalo' id='much_mahalo'>Much Mahalo!</h1>


		<h6 align='center'>&copy Copyright 2016 Designed by David Chen in California</h6>
</div>



</div>





















