<!-- MAIN HTML -->
<div ng-controller="MeanController" id="container1">

<div id='main-container'>


	<nav>
		<img src="images/self_logo.png" width='40' height='50' class='self-logo'>

		<div class='links-to-social'>
			<a href="#"><img src="images/contact_icons-01_mail.png" width='40' height='40'></a>
			<a href="#"><img src="images/contact_icons-02_github.png" width='40' height='40'></a>
			<a href="#"><img src="images/contact_icons-03_linkedin.png" width='40' height='40'></a>
		</div>
	</nav>


	<div class='title-area'>
		<span><h1>Aloha</h1></span>
		<div class='title-sayings'>
			<h4>A Front-End Web Developer</h4>
			<h4>A Illustrator</h4>
			<h4>A Designer</h4>
			<h4>A curious person</h4>
		</div>

	</div>

</div>

<div id='skills-container'>
<!-- code here -->
</div>



</div>
