
<div ng-controller="HashFighterController">

	<div id='main-container'>
		<nav>
			<a href="index.html">
			<img src="images/self_logo.png" width='40' height='50' class='self-logo'>
			</a>

			<div class='links-to-social'>
				<a href="mailto:chentiki808@gmail.com" class="hvr-grow"><img src="images/contact_icons-01_mail.png" width='35' height='35'></a>
				<a href="https://github.com/chen808" target="_blank" class="hvr-grow"><img src="images/contact_icons-02_github.png" width='35' height='35'></a>
				<a href="https://www.linkedin.com/in/davidc808" target="_blank" class="hvr-grow"><img src="images/contact_icons-03_linkedin.png" width='35' height='35'></a>
			</div>
		</nav>

		<div id="hf_description">
			<h1>Project: "Coding Nom Nom"</h1>
			<p>Initially, "Coding Nom Nom" was intended to be a place where programmers can look up a particular issue and find the steps on how to solve it. We wanted this website to "trim the fat" and get straight to the answer so programmers can get back to work.</p>
		</div>
	</div>



	<div id="issues_container">
		<div id="inner_issues_container">
			<div class="issues_description">
				<h4>Concept</h4>
				<p>We wanted to build a web app where programmers is able to find the solution quickly, and proceed with their project. We also wanted a web app where users are able to create their recipes on how they solved a particular issue.</p>
			</div>

			<div class="issues_description">
				<h4>Issues</h4>
				<p>Some of the issues we had was storing data in Postgres. We initiallly gave the user twenty lines to post their recipes, which presented an issue as it slowed down the process. We solved this by creating another table and split the recipe intake. That improved the program dramatically!</p>
			</div>

			<div class="issues_description">
				<h4>Final</h4>
				<p>This project was built because we wanted a web app where we can just find the solution quickly. Again, we believe in "strength through struggle" but sometimes a programmer doesn't have the luxury of time. We also encouraged use to write concise steps so anybody is able to understand from novice to experienced programmers alike.</p>
			</div>
		</div>
	</div>



	<div id="video_demo">
		<video autoplay loop muted>
			<source src="images/codenomnom_demo.mp4" type="video/mp4"  />
			Your browser does not support HTML5 video.
		</video>

		<a href="index.html" class="hvr-grow">Back to home page</a>

		<h6 align='center'>&copy Copyright 2016 Designed by David Chen in California</h6>
	</div>






</div> <!-- End No Worries Controller -->