
<div ng-controller="HashFighterController">

	<div id='main-container'>
		<nav>
			<a href="index.html">
			<img src="images/self_logo.png" width='40' height='50' class='self-logo'>
			</a>

			<div class='links-to-social'>
				<a href="mailto:chentiki808@gmail.com" class="hvr-grow"><img src="images/contact_icons-01_mail.png" width='35' height='35'></a>
				<a href="https://github.com/chen808" target="_blank" class="hvr-grow"><img src="images/contact_icons-02_github.png" width='35' height='35'></a>
				<a href="https://www.linkedin.com/in/davidc808" target="_blank" class="hvr-grow"><img src="images/contact_icons-03_linkedin.png" width='35' height='35'></a>
			</div>
		</nav>

		<div id="hf_description">
			<h1>Project: "No Worries"</h1>
			<p>No Worries had to be "quick and painless". That was the driving idea behind this Rails app. The user had to be able to set up ‘tasks’ with minimal effort as possible. </p>
		</div>
	</div>



	<div id="issues_container">
		<div id="inner_issues_container">
			<div class="issues_description">
				<h4>Concept</h4>
				<p>"Going on a hike alone? Set a 'task', completion time, and a emergency contact. If you are unable to check in before the completion time, we'll send your contact a text as well as an email which contains a map that contains your starting point."</p>
			</div>

			<div class="issues_description">
				<h4>Issues</h4>
				<p>Suprisingly there were no major issues while creating this Rails app. The Rails community is very robust and supportive, most of the issues I solved by researching online.</p>
			</div>

			<div class="issues_description">
				<h4>Final</h4>
				<p>This project was made with the intention of helping people. I wondered what would happen if someone went missing on their trip? Who would know? That question spawned this project and I am ecstatic how it came out.</p>
			</div>
		</div>
	</div>



	<div id="video_demo">
		<video autoplay loop muted>
			<source src="images/no_worries_demo.mp4" type="video/mp4"  />
			Your browser does not support HTML5 video.
		</video>

		<a href="index.html" class="hvr-grow">Back to home page</a>

		<h6 align='center'>&copy Copyright 2016 Designed by David Chen in California</h6>
	</div>






</div> <!-- End No Worries Controller -->