
<div ng-controller="HashFighterController">

	<div id='main-container'>
		<nav>
			<a href="index.html">
			<img src="images/self_logo.png" width='40' height='50' class='self-logo'>
			</a>

			<div class='links-to-social'>
				<a href="mailto:chentiki808@gmail.com" class="hvr-grow"><img src="images/contact_icons-01_mail.png" width='35' height='35'></a>
				<a href="https://github.com/chen808" target="_blank" class="hvr-grow"><img src="images/contact_icons-02_github.png" width='35' height='35'></a>
				<a href="https://www.linkedin.com/in/davidc808" target="_blank" class="hvr-grow"><img src="images/contact_icons-03_linkedin.png" width='35' height='35'></a>
			</div>
		</nav>

		<div id="hf_description">
			<h1>Project: "HashFighter"</h1>
			<p>One of my favorite stages during any project is research. I knew I wanted the site to have a "cartoony" look. I also wanted it to resemble old boxing promotional posters. At this stage I try to list out any potential issues during development.</p>
		</div>
	</div>



	<div id="issues_container">
		<div id="inner_issues_container">
			<div class="issues_description">
				<h4>Concept</h4>
				<p>Two fighters are presented to the Twitter community where they are presented with specific hashtags to vote on. Each vote will increment a fighter's score box. First to 100 wins.</p>
			</div>

			<div class="issues_description">
				<h4>Issues</h4>
				<p>Utilizing the Twitter API is a tricky endeavor. One of issues were repeated tweets and the animation not being triggered promptly. The best solution I found was to increase Javascript's setInterval time which gave the program some buffer time to process.</p>
			</div>

			<div class="issues_description">
				<h4>Final</h4>
				<p>This project enable me to combined the things I love which is coding, designing, animation, and illustration.</p>
			</div>
		</div>
	</div>



	<div id="video_demo">
		<video autoplay loop muted>
			<source src="images/hashfighter_demo.mp4" type="video/mp4"  />
			Your browser does not support HTML5 video.
		</video>

		<a href="index.html" class="hvr-grow">Back to home page</a>

		<h6 align='center'>&copy Copyright 2016 Designed by David Chen in California</h6>
	</div>






</div> <!-- End HashFighter Controller -->